{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row grid-container"> 
  <div id="column1">
    <img src="{% static 'img/Rectangle2.png' %}">
</div>



    <div class="container" id="column2">
	<div class="grupo-form"> 
	  <h3 class="titulo-form">Registro</h3>
	        {% csrf_token %}
	<div class="texto-form"> 
	  <p>Regístrate en CoffeLovers y accede a importantes beneficios.
Más de 300 cafeterías de especialidad adheridas a nuestro programa.</p>
	</div>

	</div>

        <div class="form-group my-4">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group p-2" >
          {{ field.label_tag }}
          {{ field }}  
          {% if field.errors %}
          {{ field.errors }}
          {% endif %}
        </div>
      {% endfor %}
  <div class="row mt-5 boton-container">
        <button type="submit"  class="boton-form">Registrarme</button>
        </div>
      </form>
    </div>
</div>


    

{% endblock %}
