{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="d-flex p-5 justify-content-start w-100 h-100"> 
    
  <div class="py-5">
    <form method="post" class="bg-light row p-3 col-lg-12 border boder-primary rounded shadow-lg mt-3 ms-md-5" style="--bs-bg-opacity: .5;">
      <h3 class="row p-lg-12 justify-content-center">Registra y encuentra tu cafe ideal</h3>
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group p-2" >
          {{ field.label_tag }}
          {{ field }}  
          {% if field.errors %}
          {{ field.errors }}
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary mt-2">Registrarme</button>
      <a class='row-2 btn btn-danger p-2 mt-2' href={% url 'home' %}>Cancelar</a>
    </form>
  </div> 
</div>

{% endblock %}
